parameters:
    level: 4
    reportUnmatchedIgnoredErrors: false
    # Runtime scans generate a neon that also loads vendor/php-stubs/wordpress-stubs.
    scanFiles:
        - ../../vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
        - wordpress-lite-stubs.php
